@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-dmSans: "DM Sans", "sans-serif";
  --font-anton: "Anton", "sans-serif";
  --breakpoint-*: initial;
  --breakpoint-sm: 500px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1280px;
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #1d1d1d;
  --color-gray: #2a2a2a;
  --color-red: #ff2d55;
  --color-accent: #fffcf6;
  --color-border: #f3f3f3;
  --color-green: #31b724;
  --color-transparent: transparent;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }

  .video-with-seekbar::-webkit-media-controls-play-button,
  .video-with-seekbar::-webkit-media-controls-volume-slider,
  .video-with-seekbar::-webkit-media-controls-mute-button,
  .video-with-seekbar::-webkit-media-controls-fullscreen-button,
  .video-with-seekbar::-webkit-media-controls-current-time-display,
  .video-with-seekbar::-webkit-media-controls-time-remaining-display {
    display: none !important;
  }

  /* Show only seekbar */
  .video-with-seekbar::-webkit-media-controls-timeline {
    display: block !important;
  }
}
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 3rem;
  }
  @media (width <= theme(--breakpoint-xl)) {
   max-width: 100%;
  }
}
